*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    /* background-color: aliceblue; */
    width: 100vw;
    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    /* font-size: 250%; */
    font-size: 2rem;
    font-weight: bold;
    color: rgb(105, 116, 198);
}


.alert-box{
    position: absolute;
    top: 18%;
    width: 150px;
    height: 40px;
    /* text-transform: capitalize; */
    background-color: rgb(255, 119, 119);

    border-top: 3px solid rgb(255, 37, 37);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}




.main{
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form{
    height: 20rem;
    width: 30rem;
    padding-bottom: 20px;

    border-radius: 0.5rem;

    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}

.login-title{
    color: rgb(105, 116, 198);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    opacity: 0;
}

.login-with-google{
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 0;
}

.cred{
    width: 20rem;
    height: 2.5rem;

    padding-left: 10px;

    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(233, 233, 233);

    background-color: rgb(247, 247, 247);
    opacity: 0;
}

.login{
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;

    background-color: rgb(105, 116, 198);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    cursor: pointer;
    opacity: 0;
}


.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    font-size: small;
    opacity: 0;
}

.signup>a{
    text-decoration: none;
    color: rgb(105, 116, 198);
}


